.choose-path
  = link_to "Sign Up as a Young Padawan ( Student )", new_student_path, class: "btn btn-warning"
  %br
  = link_to "Sign Up as a Jedi Master (Teaching Assistant)", new_ta_user_path, class: "btn btn-info"
