.row
  -@available_tas.each do |ta|
    .col-md-6
      %h2 Help Requests for #{ta.full_name}
      -ta.help_requests.where("is_complete = false").each do |hr|
        %h4 #{hr.description}
        %h6 -Asked by: #{hr.student.full_name}
      =simple_form_for [current_user, HelpRequest.new] do |f|
        =f.input :description
        =f.hidden_field :ta_user_id, :value => ta.id
        =f.submit

=  #/ta/2/help-requests
