// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("//fonts.googleapis.com/css?family=Raleway");

$brand-primary: #000;
$border-radius-base: 0px;
$font-family-sans-serif: "Raleway";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -29px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 15px;
  background-color: rgba(100,100,100,0.6);
  margin: 0 0 0px;
  padding-top: 3px;
  padding-bottom: 26px;
  p {
    margin: 0px;
    color: #fff;
    a {
    color: #fff;
    
    }
  }
}
.greeting-1 {
  color: #fff; 
  line-height: 52.7px;
}
nav {
 img {
 position:relative;
 left: 7px;
 top: -22px;
 width: 380px;
 height: 47px;
 padding: -20px;
 }
}

// static-pages wrap

$primary-color: #F5f5f5;

.logo {
  color: $primary-color;
}
#wrap{
  background-image: image-url("Optimized-purple-nebula.jpg")
}
.landed-h1 {
  font-size: 32px;
  color: #fff;
  margin-left: 2%;
  margin-top: 10px;
  @media screen and (max-width: 1000px) {
    display:none;
  }
}
.login-section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 73%;
  margin-right: 0px;
  .login-form {
    width: 255px;
    color: #fff;
    margin-top: -50px;
    }
}
.login-section .login-form {
  -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  @media screen and (max-width: 1000px) {
    margin-top: 10%;
    margin-left: -39%;
  }
  }
.padawan-greeting {
  margin-top: -124px;
  margin-bottom: 97px;
  margin-left: 3%;
  margin-right: 0px;
  color: #fff;
  font-size: 18px;
  @media screen and (max-width: 1000px) {
    margin-top: -162px;
    width: 56%;
    font-size: 22px;
    font-weight: bold;
  }
}

.cutoff-container{
  max-height: 475px;
  //background-color: yellow;
  overflow: hidden;
  margin-left: 8%;

  }
 .tatooeine {
  width: 900px;
  height: 900px;
  overflow: hidden;
  background: image-url("desert_planet_texture_2.jpg");
  -webkit-border-radius: 50%;
  background-size: 900px;
  //box-shadow: inset 10px 10px 40px 10px black, inset -3px 0 6px 2px rgba(255, 255, 255, 0.2); 
  box-shadow: inset 10px 10px 40px 10px rgb(0, 0, 0),
    inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  -webkit-animation-name: tatooeine-rotate;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes tatooeine-rotate {
  from { background-position-x: 0px; background-position-y: 0px; }
  to { background-position-x: 900px; background-position-y: 900px; }
}

 @media screen and (min-width:0px) and (max-width:450px) {

  .cutoff-container{
    margin-left: 0%;
    width: 100%;
    max-height: 600px;
    }
  .tatooeine {
    height: 350px; 
    width: 350px;
    margin-left: 5px;
    }
  .login-section .login-form {
    -webkit-transform: scale(0.8, 0.8) translate(-230px,-20px);
    transform: scale(0.8, 0.8) translate(-230px,-20px);

    }
  .padawan-greeting {
   display: none; 
   }

   nav img {
    width: 235px;
    height: 34px;
    margin-top: 11px;
   }
  }  
  
  @media screen and (min-width:450px) and (max-width:575px) {
  .cutoff-container{
    margin-left: 0%;
    width: 100%;
    max-height: 600px;
    }
  .tatooeine {
    height: 550px; 
    width: 550px;
    }
  .login-section .login-form {
    -webkit-transform: scale(0.8, 0.8) translate(-90px,-20px);
    transform: scale(0.8, 0.8) translate(-90px,-20px);

    }
  .padawan-greeting {
    -webkit-transform: scale(0.7, 0.7) translate(-50px,-20px);
    transform: scale(0.7, 0.7) translate(-50px,-20px);
   }
  }

  @media screen and (min-width:575px) and (max-width:700px) {
  .cutoff-container{
    margin-left: 0%;
    width: 100%;
    max-height: 600px;
    }
  .tatooeine {
    height: 650px; 
    width: 650px;
    }
  }

  @media screen and (min-width:700px) and (max-width:870px) {
  .cutoff-container{
    margin-left: -21px;
    width: 105%;
    max-height: 400px;
    }
  .tatooeine {
    height: 750px; 
    width: 750px;
    }
  }

  @media screen and (min-width:870px) and (max-width:1000px) {
  .cutoff-container{
    margin-left: -55px;
    width: 118%;
    max-height: 400px;
    }
  .tatooeine {
    height: 850px; 
    width: 850px;
    }
  }

  @media screen and (min-width:1000px) and (max-width:1200px) {
  .cutoff-container{
    margin-left: 4%;
    width: 100%;
    max-height: 400px;
    }
  .tatooeine {
    height: 900px; 
    width: 900px;
    }
  }
  @media screen and (min-width: 1200px) and (max-width:1275px) {
  .cutoff-container{
    margin-left: 9%;
    width: 94%;
    max-height: 400px;
    }
  .tatooeine {
    height: 900px; 
    width: 900px;
    }
  }
 @media screen and (min-width: 1275px) and (max-width:1400px) {
  .cutoff-container{
    margin-left: 9%;
    width: 94%;
    max-height: 520px;
    }
  .tatooeine {
    height: 900px; 
    width: 900px;
    }
  }

 @media screen and (min-width: 1400px) and (max-width:1500px)  {
  .cutoff-container{
    margin-left: 8%;
    //width: 130%;
    max-height: 620px;
    }
  .tatooeine {
    height: 950px; 
    width: 950px;
    }
  }
 @media screen and (min-width: 1500px) {
  .cutoff-container{
    margin-left: 8%;
    //width: 130%;
    max-height: 850px;
    }
  .tatooeine {
    height: 950px; 
    width: 950px;
    }
  }
.choose-path {

  position: relative;
  //background: url("http://www.bestlookspa.com/wp-content/uploads/2014/09/elegant-grey-illumination-background-presentations-powerpoint-backgrounds1.jpg");
  background-size: 1400px 500px;
  background-repeat: no-repeat;
  height: 500px; 
  .btn.btn-warning {
    padding-top: 37px;
    width: 400px;
    height: 100px;
    margin-top: 75px;
    background: black;
    font-size: 17px;
    margin-left: 32%;
    @media screen and (max-width: 600px) {
          margin-left: 75px;
      }
    }
  .btn.btn-info {
    padding-top: 37px;
    width: 400px;
    height: 100px; 
    margin-top: 29px;
    background: black;
    font-size: 17px;
    right: 100px;
    margin-left: 32%;
     @media screen and (max-width: 600px) {
          margin-left: 75px;
      }
  }

}
 
