// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("//fonts.googleapis.com/css?family=Raleway");

$brand-primary: #000;
$border-radius-base: 0px;
$font-family-sans-serif: "Raleway";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -35px;
  /* Pad bottom by footer height */
  padding: 0 0 15px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 15px;
  background-color: rgba(100,100,100,0.9);
  margin-top: 0px;
  padding-top: 7px;
  padding-bottom: 20px;
  p {
    color: #fff;
    a {
    color: #fff;
    
    }
  }
}
.greeting-1 {
  color: #fff; 
  line-height: 52.7px;
}
nav {
 img {
 position:relative;
 left: 7px;
 top: -22px;
 width: 380px;
 height: 47px;
 padding: -20px;
 }
}

// static-pages wrap

$primary-color: #F5f5f5;

.logo {
  color: $primary-color;
}
#wrap{
  background-image: image-url("purple-nebula.jpg")
}
.landed-h1 {
  font-size: 40px;
  color: #fff;
  margin-left: 1%;
  margin-top: 10px;
}
.login-section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 73%;
  margin-right: 0px;
  .login-form {
    width: 255px;
    color: #fff;
    margin-top: -50px;
    }
}
.login-section .login-form {
  -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
.padawan-greeting {
  margin-top: -133px;
  margin-bottom: 97px;
  margin-left: 2%;
  margin-right: 0px;
  color: #fff;
  font-size: 19px;
}

.cutoff-container{
  max-height: 500px;
  //background-color: yellow;
  overflow: hidden;
  width: 119%;
  margin-left: 0px;
  @media screen and (max-width: 1000px) {
    margin-left: 0px;
    width: 100%;
    max-height: 600px;
  }

  @media screen and (min-width:1100px) and (max-width:1200px) {
    margin-left: -240px;
    width: 136%;
    max-height: 600px;
  }
  @media screen and (min-width: 1300px) {
    //margin-left: -150px;
    margin-left: 0px;
    //width: 130%;
    max-height: 600px;
  }
}

.tatooeine {
  width: 1135px;
  height: 1135px;
  overflow: hidden;
  background: image-url("http://fc07.deviantart.net/fs71/i/2013/146/b/e/desert_planet_texture_by_jakerobson_tull-d66mfnr.jpg");
  -webkit-border-radius: 50%;
  background-size: 900px;
  //box-shadow: inset 10px 10px 40px 10px black, inset -3px 0 6px 2px rgba(255, 255, 255, 0.2); 
  box-shadow: inset 10px 10px 40px 10px rgb(0, 0, 0),
    inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  -webkit-animation-name: tatooeine-rotate;
  -webkit-animation-duration: 13s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes tatooeine-rotate {
  from { background-position-x: 0px; background-position-y: 0px; }
  to { background-position-x: 900px; background-position-y: 900px; }
}


